html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

table.tight-md {
  td, th {
    &:first-of-type{
      @media only screen and (max-width: 768px) {
        padding-left: 12px
      }
    }

    &:last-of-type{
      @media only screen and (max-width: 768px) {
        padding-right: 12px
      }
    }
  }
}
