@import "variables.scss";

.bubble {
  display: inline-flex;
  border-radius: 90px;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
}

.mat-select-disabled span.bubble {
  &, & ~ span {
    opacity: .35;
  }
}

@mixin shared-theme-red($dark) {
  @if $dark {
    color: #E57373;
  } @else {
    color: #C62828;
  }
}

@mixin shared-theme-green($dark) {
  @if $dark {
    color: #9CCC65;
  } @else {
    color: #43A047;
  }
}

//hack
.pushed-left .currency-component {
  margin-left: -0.5em;
}


@media only screen and (max-width: $mobile-res) {
  th.mat-table-sticky {
    transform: translateY(-2px);
  }
}
