<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{transaction ? 'Edit' : 'Create'}} transaction</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addTransactionForm">
    <!-- <div class="form-group">
      <label for="asset">Asset</label>
      <div class="input-group">
        <select class="custom-select" formControlName="cityName">
          <option value="" disabled>Choose your city</option>
          <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
       </select>
      </div>
    </div> -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Transaction date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addTransactionForm.get('date').hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Asset</mat-label>
      <mat-select formControlName="asset">
        <mat-option *ngFor="let asset of assets" [value]="asset.id">
          <app-asset [asset]="asset" [forceShowName]="true"></app-asset>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addTransactionForm.get('asset').hasError('required')">
        Asset is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Wallet</mat-label>
      <input type="text" matInput formControlName="wallet" placeholder="Ex. Revolut">
      <mat-error *ngIf="addTransactionForm.get('wallet').hasError('required')">
        Wallet is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <div class="full-width field-group">
      <mat-form-field class="field-small">
        <mat-label>Rate</mat-label>
        <input type="number" matInput formControlName="rate">
        <mat-error *ngIf="addTransactionForm.get('rate').hasError('required')">
          Rate is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addTransactionForm.get('rate').hasError('min')">
          Minimum rate is <strong>{{minAmount | number:'1.1-8'}}</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field-fill">
        <mat-label>Curency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency.id">
            {{currency.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addTransactionForm.get('currency').hasError('required')">
          Currency is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Amount</mat-label>
      <input type="number" matInput formControlName="amount">
      <mat-error *ngIf="addTransactionForm.get('amount').hasError('required')">
        Amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addTransactionForm.get('amount').hasError('min')">
        Minimum amount is <strong>{{minAmount | number:'1.1-8'}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox class="full-width" (change)="toggleFee()">Paid fee?</mat-checkbox>

    <div class="full-width field-group">
      <mat-form-field class="field-small">
        <mat-label>Fee</mat-label>
        <input type="number" matInput formControlName="fee">
        <mat-error *ngIf="addTransactionForm.get('fee').hasError('min')">
          Minimum fee is <strong>{{minFee | number:'1.1-8'}}</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field-fill">
        <mat-label>Fee curency</mat-label>
        <mat-select formControlName="feeCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency.id">
            {{currency.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addTransactionForm.get('feeCurrency').hasError('required')">
          Fee currency is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
