// Hacks
.cdk-overlay-container {
  z-index:2000;
}

.btn.no-outline:focus,.btn.no-outline:active {
  outline: none !important;
  box-shadow: none;
}

.no-underline .mat-form-field-underline {
  display: none;
}
