@mixin currency-theme($theme, $dark) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  span.currency-name {
    display: none;
  }
  span.bubble.currency-icon {
    background-color: lightgreen;
    margin-left: .5em;
    @if $dark {
      color: mat-color($primary, '100-contrast');
    } @else {
      color: mat-color($foreground, text);
    }
  }
}
