div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes arrows {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(.2em);
    }
}
  
span {
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
}