span.wallet-icon {
  background-color: lightseagreen;
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: .5em;
}
