@mixin nav-bar-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .navbar {
    background: mat-color($background, lighter);
  }

  .navbar a.nav-link {
    color: mat-color($foreground, text);
  }

  a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .dark-mode-toggle {
    padding: 0;
    margin: 0;
    padding-top: 0.4em;
    color: mat-color($accent, text);
  }
}

.user-preferrences {
  display: flex;
  flex-flow: row;
  align-items: center;

  .user-preference-item {
    margin: 0 .5em;
  }

  .separator {
    flex-grow: 1;
    margin: 0 .1em;
  }
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
