<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" [ngClass]="dark ? 'navbar-dark' : 'navbar-light'">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <span>{{appName}}</span>
        <wbr>
        <sub class="version">{{version}}</sub>
      </a>
      <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <div class="user-preferrences">
          <button class="btn no-outline dark-mode-toggle user-preference-item" (click)="toggleDarkMode()">
            <mat-icon>dark_mode</mat-icon>
          </button>
          <div class="separator user-preference-item"></div>
          <app-currency-selector *ngIf="isAuthenticated | async" class="currency-selector user-preference-item"></app-currency-selector>
        </div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
