<div class="root">
  <div class="mat-elevation-z8 content">
    <div class="table">
      <mat-progress-bar mode="query" *ngIf="isLoadingResults" aria-label="Loading groups"></mat-progress-bar>
      <table mat-table [dataSource]="total.groups" matSort matSortActive="name" matSortDisableClear matSortDirection="desc" class="tight-md">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="name">Group</th>
          <td mat-cell *matCellDef="let row" class="name">{{row.name || 'Ungrouped'}}</td>
          <td mat-footer-cell *matFooterCellDef class="name"> Total </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell class="right amount" *matHeaderCellDef>Amount</th>
          <td mat-cell class="right amount" *matCellDef="let row">{{row.sumAmount | number:'1.2-8'}}</td>
          <td mat-footer-cell *matFooterCellDef class="amount"></td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell class="right total" *matHeaderCellDef>Total</th>
          <td mat-cell class="right total" *matCellDef="let row">
            <app-currency [currency]="selectedCurrency" [amount]="row.total"></app-currency>
          </td>
          <td mat-footer-cell *matFooterCellDef class="right total">
            <app-currency [currency]="selectedCurrency" [amount]="total.total"></app-currency>
          </td>
        </ng-container>

        <ng-container matColumnDef="actual">
          <th mat-header-cell class="right actual" *matHeaderCellDef>Now</th>
          <td mat-cell class="right actual" *matCellDef="let row">
            <app-currency [currency]="selectedCurrency" [amount]="row.totalNow"></app-currency>
          </td>
          <td mat-footer-cell *matFooterCellDef class="right actual">
            <app-currency [currency]="selectedCurrency" [amount]="total.totalNow"></app-currency>
          </td>
        </ng-container>

        <ng-container matColumnDef="increase">
          <th mat-header-cell class="right increase" *matHeaderCellDef>Procent</th>
          <td mat-cell class="right increase-indicator increase" *matCellDef="let row">
            <app-percent [percent]="row.increase"></app-percent>
          </td>
          <td mat-footer-cell *matFooterCellDef class="right increase">
            <app-percent [percent]="total.increase"></app-percent>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="footer"></tr>
      </table>
      <p class="no-item" *ngIf="noResult">No available group</p>
    </div>

    <div>
      <div class="refresh-button-container">
        <button mat-mini-fab color="accent" aria-label="Refresh groups" [disabled]="isLoadingResults" (click)="refreshGroups()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
